h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: 700;
}

.cadastro{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: lightblue;
    padding: 2rem 1rem;
    border-radius: 5px;
    margin-top: 3rem;
}

.cadastro__label{
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.cadastro__input{
    padding: 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 5px;
}

.cadastro__input-checkbox{
    margin-bottom: 1.5rem;
}

.cadastro__input-botao{
    padding: 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 5px;
    
}

.cadastro__input-botao:hover{
    transition: 0.1s;
    background-color: lightskyblue;
}

@media screen and (min-width: 768px) {

    .cadastro {
        width: 500px;
    }

}