@import url(./css/login.css);
@import url(./reset.css);
@import url(./css/cadastrar.css);
@import url(./css/gestao.css);
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap'); 

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: aliceblue;
}

